/*
 * WRAPPERS/GENERAL
 */
html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

#wrapper {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	flex: 1 0 auto;
	position: relative; /* to absolute position footer to bottom */
}

a {
	text-decoration: none;
}

h3 {
	font-size: 1.5em;
	margin: 10px 0;
}


/*
 * TOPBAR (Above header)
 */
#topbar {
	background-color: #209AEE;
	display: table;
	width: 100%;
	height: 2em;	
}

#topbar div {
	display: table-cell;
	vertical-align: middle;
}

#home { 
	width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

/*
 * HEADER
 */
#header {
	width: 100%;
	background-color: #BDEAFD;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
}

/*
 * MAIN PAGE CONTENT
 */
#new-patient-btn {
	padding: 20px;
}

#content {
	padding: 0px 10px 150px; 
	/* bottom padding more than height of footer to keep to bottom of page for short pages */
	max-width: 800px;
	margin: auto;

}

#basic-info {
	border: black solid 5px;
	background-color: #CCD1D1;
	padding: 10px 20px;
}

#info {
	border: black solid 5px;
	background-color: #CCD1D1;
	padding: 0 20px 20px;
}

#list-container h3 {
	margin: 20px;
}

#list-container button {
	margin-top: 10px;
	margin-right: 20px;
}

.btns {
	float: right;
}

.btns > div {
	float: left;
}

.list-item {
	border: black 5px solid;
	background-color: #D5EEFA;
	font-size: large;
	padding: 0 20px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

form {
	padding: 20px;
}

.cancel {
	display: block;
}


/*
 * FOOTER
 */

#footer {
	position: absolute;
	height: 60px;
	bottom: 0;
	/* above 3 properties help keep footer to bottom of page */
	background-color: #BDEAFD;
	text-align: center;
	width: 100%;
	padding-bottom: 1em;
	padding-top: 1em;
}