/*
 * WRAPPERS
 */
html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

#wrapper {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	flex: 1 0 auto;
	position: relative; /* to absolute position footer to bottom */
}

a {
	text-decoration: none;
}

/*
 * TOPBAR
 */
#topbar {
	background-color: #209AEE;
	display: table;
	width: 100%;
	height: 2em;	
}

#topbar div {
	display: table-cell;
	vertical-align: middle;
}


/*
 * HEADER
 */
#header {
	width: 100%;
	background-color: #BDEAFD;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
}

/*
 * MAIN PAGE CONTENT
 */
#new-patient-btn {
	padding: 20px;
}

#content {
	padding: 10px 10px 100px; 
	/* bottom padding more than height of footer to keep to bottom of page for short pages */
	max-width: 800px;
	margin: auto;
}


/*
 * FOOTER
 */

#footer {
	position: absolute;
	height: 60px;
	bottom: 0;
	/* above 3 properties help keep footer to bottom of page */
	background-color: #BDEAFD;
	text-align: center;
	width: 100%;
	padding-bottom: 1em;
	padding-top: 1em;
}