<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Physio History Chart</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="content">
		<div id="topbar">
			<div>
				<a href="{{url_for('showPatients')}}">Home</a>
			</div>
		</div>
		<div id="header">
			<h1>Delete Diagnosis</h1>
		</div>
		<div id="main">
			<form action="{{url_for('deleteDiagnosis', patient_id = patient.id, diagnosis_id = diagnosis.id)}}" method="post">
				<div>
					Patient: {{patient.firstname}} {{patient.lastname}}
				</div>
				<div>
					Diagnosis: {{diagnosis.diagnosis1}}<br>
					{% if diagnosis.diagnosis2 %}
					Additional diagnoses: {{diagnosis.diagnosis2}} 
					{% endif %}
					{% if diagnosis.diagnosis3 %}
					& {{diagnosis.diagnosis3}}<br>
					{% endif %}
				</div>
				<div>
					Are you sure you want to delete this episode from database? (This action is irreversible!!)
				</div>
				<div>
					<button>Delete</button>
				</div>				
			</form>
			<div>
				<a href="{{ url_for('showTreatments', patient_id = patient.id, diagnosis_id = diagnosis.id) }}"><button>Cancel</button></a>
			</div>
		</div>
	</div>
</body>
</html>