{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %} Delete Patient {% endblock %}
{% block heading %} Delete Patient {% endblock %}
{% block content %}
	<div id="basic-info">
		<div>
			Patient Name: {{patient.firstname}} {{patient.lastname}}
		</div>
	</div>
	<form action="{{url_for('deletePatient', patient_id = patient.id)}}" method="post">
		<div>
			Are you sure you want to delete patient from database? (This action is irreversible!!)
		</div>
		<div>
			<button>Delete</button>
		</div>
	</form>
	<div class="btns cancel">
		<a href="{{ url_for('patientInfo', patient_id = patient.id) }}"><button>Cancel</button></a>
	</div>
{% endblock %}