<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Physio History Chart</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="content">
		<div id="topbar">
			<div>
				<a href="{{url_for('showPatients')}}">Home</a>
			</div>
		</div>
		<div id="header">
			<h1>Diagnoses</h1>
		</div>
		<div id="main">
			<div>
				Patient: {{patient.firstname}} {{patient.lastname}}
			</div>
			<div>
				<a href="{{ url_for('newDiagnosis', patient_id = patient.id) }}"><button>New Diagnosis</button></a>
			</div>
			<div id="list">
				{% for diagnosis in diagnoses %}
				<div class="list-item">
					<div>
						<a href="{{ url_for('showTreatments', patient_id = patient.id, diagnosis_id = diagnosis.id) }}">{{diagnosis.diagnosis1}}</a>{{diagnosis.diagnosis2}}
						{{diagnosis.diagnosis3}}
					</div>
					<div>
						<a href="{{ url_for('editDiagnosis', patient_id = patient.id, diagnosis_id = diagnosis.id) }}"><button>Edit</button></a>
					</div>
					<div>
						<a href="{{ url_for('deleteDiagnosis', patient_id = patient.id, diagnosis_id = diagnosis.id) }}"><button>Delete</button></a>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<footer id="footer">
		<p>Copyright</p>
	</footer>
</body>
</html>