{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='newformstyle.css')}}">
{% endblock %}
{% block title %} Edit Consult {% endblock %}
{% block heading %} Edit Consultation {% endblock %}
{% block content %}
	<div id="basic-info">
		<div class="btns">
			<a href="{{ url_for('consultInfo', patient_id = patient.id, episode_id = episode.id, consult_id = consult.id) }}"><button>Back</button></a>
		</div>
		Patient: {{patient.firstname}} {{patient.lastname}}
		<div>
			Diagnosis: {{episode.diagnosis1}}<br>
			{% if episode.diagnosis2 %}
			Additional diagnoses: {{episode.diagnosis2}} 
			{% endif %}
			{% if episode.diagnosis3 %}
			& {{episode.diagnosis3}}<br>
			{% endif %}
		</div>
		<div>
			Consult id: {{consult.id}}
		</div>
	</div>
	<form action="{{url_for('editConsult', patient_id = patient.id, episode_id = episode.id, consult_id = consult.id)}}" method="post" id="edit-consult-form">
		<section>
			<h2>Subjective</h2>
			<textarea name="subjective" form="edit-consult-form" maxlength="500">{{consult.subjective}}</textarea>
		</section>
		<section id="physical">
			<h2>Physical Examination</h2>
			<div>
				<label for="consent">Consent</label>
				{% if consult.consent %}
				<input type="checkbox" name="consent" checked>
				{% else %}
				<input type="checkbox" name="consent"><br>
				{% endif %}
			</div>
			<div class="flex-container">
				<div>
					<h4>Observation</h4>
					<textarea name="observation" form="edit-consult-form" maxlength="500">{{consult.observation}}</textarea>
				</div>
				<div>
					<h4>Active Movements</h4>
					<textarea name="active" form="edit-consult-form" maxlength="500">{{consult.active}}</textarea>
				</div>
				<div>
					<h4>Passive Movements</h4>
					<textarea name="passive" form="edit-consult-form" maxlength="500">{{consult.passive}}</textarea>
				</div>
				<div>
					<h4>Strength Tests</h4>
					<textarea name="strength" form="edit-consult-form" maxlength="500">{{consult.strength}}</textarea>
				</div>
				<div>
					<h4>Functional Tests</h4>
					<textarea name="functional" form="edit-consult-form" maxlength="500">{{consult.functional}}</textarea>
				</div>
				<div>
					<h4>Neurological Tests</h4>
					<textarea name="neurological" form="edit-consult-form" maxlength="500">{{consult.neurological}}</textarea>
				</div>
				<div>
					<h4>Special Tests</h4>
					<textarea name="special-tests" form="edit-consult-form" maxlength="500">{{consult.special_tests}}</textarea>
				</div>
				<div>
					<h4>Passive Accessory Movements</h4>
					<textarea name="passive-accessory" form="edit-consult-form" maxlength="500">{{consult.passive_accessory}}</textarea>
				</div>
				<div>
					<h4>Palpation</h4>
					<textarea name="palpation" form="edit-consult-form" maxlength="500">{{consult.palpation}}</textarea>
				</div>
				<div>
					<h4>Other Tests/Comments</h4>
					<textarea name="other-tests" form="edit-consult-form" maxlength="500">{{consult.other_tests}}</textarea>
				</div>
			</div>
		</section>
		<section>
			<h2>Treatment</h2>
			<div class="flex-container" id="treatments">
				<div>
					<h4>Treatments Provided</h4>
					<textarea name="treatments" form="edit-consult-form" maxlength="1000">{{consult.treatments}}</textarea>
				</div>
				<div id="additional">
					<h4>Additional Comments</h4>
					<textarea name="treatment-comments" form="edit-consult-form" maxlength="1000">{{consult.comments}}</textarea>
				</div>
			</div>
			<h2>Plan</h2>
			<textarea name="plan" form="edit-consult-form" maxlength="500">{{consult.plan}}</textarea>
		</section>
		<div>
			<button>Edit</button>
		</div>
	</form>
	<div class="btns cancel">
		<a href="{{ url_for('consultInfo', patient_id = patient.id, episode_id = episode.id, consult_id = consult.id) }}"><button>Cancel</button></a>
	</div>
{% endblock %}