<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Physio History Chart</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="content">
		<div id="header">
			<h1>Edit Patient</h1>
		</div>
		<div id="main">
			<form action="{{url_for('editPatient', patient_id = patient.id)}}" method="post">
				<div>
					First Name: <input type="text" name="firstname" size="30" value="{{patient.firstname}}">
				</div>
				<div>
					Last Name: <input type="text" name="lastname" size="30" value="{{patient.lastname}}">
				</div>
				<div>
					Details: <input type="text" name="details" size="30" value="Enter information here">
				</div>
				<div>
					<a href="{{ url_for('showPatients') }}"><button>Edit</button></a>
				</div>
			</form>
			<div>
				<a href="{{ url_for('showPatients') }}"><button>Cancel</button></a>
			</div>
		</div>
	</div>
</body>
</html>