<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Physio History Chart</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="content">
		<div id="topbar">
			<div>
				<a href="{{url_for('patientList')}}">Home</a>
			</div>
		</div>
		<div id="header">
			<h1>Diagnosis Information</h1>
		</div>
		<div id="main">
			<div>
				Patient: {{patient.firstname}} {{patient.lastname}}
			</div>
			<div>
				Diagnosis: {{diagnosis.diagnosis1}}<br>
				{% if diagnosis.diagnosis2 %}
				Additional diagnoses: {{diagnosis.diagnosis2}} 
				{% endif %}
				{% if diagnosis.diagnosis3 %}
				& {{diagnosis.diagnosis3}}<br>
				{% endif %}
			</div>
			<div>
				<a href="{{ url_for('patientInfo', patient_id = patient.id) }}"><button>Back</button></a>
			</div>
			<div>
				<h3>Diagnosis Information</h3>
				<div>
					Main Diagnosis: {{diagnosis.diagnosis1}}<br>
					Other Diagnoses: {{diagnosis.diagnosis2}}<br>
					                 {{diagnosis.diagnosis3}}<br>
					Pain Scale: {{diagnosis.pain}}<br>
					Pain Description: {{diagnosis.pain_description}}<br>
					Pins & Needles: {{diagnosis.pins_needles}}<br>
					Numbness: {{diagnosis.numbness}}<br>
					Current History: {{diagnosis.current_history}}<br>
					Aggravating Factors: {{diagnosis.aggs}}<br>
					Easing factors: {{diagnosis.ease}}<br>
					24 Hr History: {{diagnosis.daily_history}}<br>
					Past History: {{diagnosis.past_history}}<br>
					Social History: {{diagnosis.social_history}}<br>
					Special Questions: {{diagnosis.special_q}}<br>
					Comments: {{diagnosis.comments}}<br>
				</div>
				<div>
					<a href="{{ url_for('editEpisode', patient_id = patient.id, diagnosis_id = diagnosis.id) }}"><button>Edit</button></a>
				</div>
				<div>
					<a href="{{ url_for('deleteEpisode', patient_id = patient.id, diagnosis_id = diagnosis.id) }}"><button>Delete</button></a>
				</div>
			</div>
			<div>
				<h3>Consultations & Treatments Provided</h3>
				<div>
					<a href="{{ url_for('newConsult', patient_id = patient.id, diagnosis_id = diagnosis.id) }}"><button>New Treatment</button></a>
				</div>
				<div id="list">
					{% for consult in consults %}
					<div class="list-item">
						<div>
							<a href="{{ url_for('consultInfo', patient_id = patient.id, diagnosis_id = diagnosis.id, treatment_id = consult.id) }}">Consult id: {{consult.id}}</a><br>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<p>Copyright</p>
	</footer>
</body>
</html>