<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Physio History Chart</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='newformstyle.css')}}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="content">
		<div id="topbar">
			<div>
				<a href="{{url_for('showPatients')}}">Home</a>
			</div>
		</div>
		<div id="header">
			<h1>New Diagnosis</h1>
		</div>
		<div id="main">
			<div>	
				Patient: {{patient.firstname}} {{patient.lastname}}
			</div>
			<form action="{{url_for('newDiagnosis', patient_id = patient.id)}}" method="post" id="diagnosis-form">
					<section id="subjective">
					<h2>Subjective Examination</h2>
					<div id="body-chart">
						<h4>Body Chart</h4>
						<canvas id="myCanvas" width="600" height="400"></canvas>
						<div id="controls">
							<div id="colours">
								<div class="red selected"></div>
								<div class="blue"></div>
								<div class="yellow"></div>
								<div class="green"></div>
							</div>
							<button type="button" id="btn-clear" onclick="clearCanvas()">Clear</button>
						</div>
					</div>
					<div id="vas" style="display: block">
						<h4>Pain Presentation</h4>
						<p>What is your pain on a scale of 1 to 10? (0 is no pain, 10 is extreme pain)</p>
						<label for="pain">Pain Scale:</label>
						<input type="number" name="pain" min="0" max="10" id="pain">
						<p>Pain description:</p>
						<textarea name="pain-description" form="diagnosis-form" maxlength="500"></textarea>
						<label for="pins-needles">Pins & needles</label>
						<input type="checkbox" name="pins-needles" id="pins-needles"><br>
						<label for="numbness">Numbness</label>
						<input type="checkbox" name="numbness" id="numbness">
					</div>
					<div class="flex-container">
						<div>
							<h4>Current History</h4>
							<textarea name="current-history" form="diagnosis-form" maxlength="1000">Mechanism of Injury:</textarea>
						</div>
						<div>
							<h4>Aggravating Factors</h4>
							<textarea name="agg" form="diagnosis-form" maxlength="250"></textarea>
						</div>
						<div>
							<h4>Easing Factors</h4>
							<textarea name="ease" form="diagnosis-form" maxlength="250"></textarea>
						</div>
						<div>
							<h4>24 Hour History</h4>
							<textarea name="24hr" form="diagnosis-form" maxlength="250"></textarea>
						</div>
						<div>
							<h4>Past History</h4>
							<textarea name="past-hx" form="diagnosis-form" maxlength="250"></textarea>
						</div>
						<div>
							<h4>Social & Family History</h4>
							<textarea name="social-hx" form="diagnosis-form" maxlength="250"></textarea>
						</div>
						<div>
							<h4>Special Questions</h4>
							<textarea name="special-q" form="diagnosis-form" maxlength="250"></textarea>
						</div>
						<div>
							<h4>Additional Comments</h4>
							<textarea name="comments" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
					</div>
				</section>
				<section id="physical">
					<h2>Physical Examination</h2>
					<div>
						<label for="consent">Consent</label>
						<input type="checkbox" name="consent" id="consent">
					</div>
					<div class="flex-container">
						<div>
							<h4>Observation</h4>
							<textarea name="observation" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Active Movements</h4>
							<textarea name="active" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Passive Movements</h4>
							<textarea name="passive" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Strength Tests</h4>
							<textarea name="strength" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Functional Tests</h4>
							<textarea name="functional" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Neurological Tests</h4>
							<textarea name="neurological" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Special Tests</h4>
							<textarea name="special-tests" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Passive Accessory Movements</h4>
							<textarea name="passive-accessory" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Palpation</h4>
							<textarea name="palpation" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
						<div>
							<h4>Other Tests/Comments</h4>
							<textarea name="other-tests" form="diagnosis-form" maxlength="1000"></textarea>
						</div>
					</div>
				</section>
				<section id="impression">
					<h2>Diagnostic Impression/s</h2>
					<input type="text" name="diagnosis1" size="50"><br>
					<input type="text" name="diagnosis2" size="50"><br>
					<input type="text" name="diagnosis3" size="50"><br>
				</section>
				<div>
					<a href="{{ url_for('showDiagnoses', patient_id = patient.id) }}"><button>Create</button></a>
				</div>
			</form>
			<div>
				<a href="{{ url_for('showDiagnoses', patient_id = patient.id) }}"><button>Cancel</button></a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='helper.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>