{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %} PT Files {% endblock %}
{% block heading %} Patient List {% endblock %}
{% block content %}
	<div id="new-patient-btn">
		<a href="{{ url_for('newPatient') }}"><button>New Patient</button></a>
	</div>
	<div id="list">
		{% for patient in patients %}
		<a href="{{ url_for('patientInfo', patient_id = patient.id) }}">
		<div class="list-item">
				{{patient.firstname}} {{patient.lastname}}
		</div></a>
		{% endfor %}
	</div>
{% endblock %}