{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %} Patient File {% endblock %}
{% block heading %} Patient File {% endblock %}
{% block content %}
	<div id="basic-info">
		Patient: {{patient.firstname}} {{patient.lastname}}
		<div class="btns">
			<a href="{{ url_for('patientList') }}"><button>Back</button></a>
		</div>
	</div>
	<div id="info">
		<h3>Patient Information</h3>
		<div class="btns">
			<div>
				<a href="{{ url_for('editPatient', patient_id = patient.id) }}"><button>Edit</button></a>
			</div>
			<div>
				<a href="{{ url_for('deletePatient', patient_id = patient.id) }}"><button>Delete</button></a>
			</div>
		</div>
		<div>
			Date Started: {{patient.date_started}}<br>
			Title: {{patient.title}}<br>
			First Name: {{patient.firstname}}<br>
			Last Name: {{patient.lastname}}<br>
			Date of Birth: {{patient.birthdate}} (year-month-day)<br>
			Mobile: {{patient.mobile}}<br>
			Home Phone: {{patient.home_ph}}<br>
			Work Phone: {{patient.work_ph}}<br>
			E-mail: {{patient.email}}<br>
			Occupation: {{patient.occupation}}<br>
		</div>
	</div>
	<div id="list-container">
		<div class="btns">
			<a href="{{ url_for('newEpisode', patient_id = patient.id) }}"><button>New Episode</button></a>
		</div>
		<h3>Injury Episodes</h3>
		<div id="list">
			{% for episode in episodes %}
			<a href="{{ url_for('episodeInfo', patient_id = patient.id, episode_id = episode.id) }}">
				<div class="list-item">
					<div>
						{{episode.diagnosis1}}<br>
					</div>
					<div>
						{% if episode.diagnosis2 %}
						Additional coinciding injuries: {{episode.diagnosis2}} 
						{% endif %}
						{% if episode.diagnosis3 %}
						& {{episode.diagnosis3}}<br>
						{% endif %}
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}